# vim
vim/.vim/vimplug

# emacs
emacs/.emacs.d/data
emacs/.emacs.d/straight

# tpm
tmux/.tmux/plugins

# Remove backup files
*#
*.
*.elc
*~
.#*

# Emacs packages
elpa/
var/

#  Emacs tmp files & Misc
/.mc-lists.el
/.DS_Store
/.emacs.desktop
/.emacs.desktop.lock
/.watsonresults
/ac-comphist.dat
/auto-save-list
/eshell/history
/eshell/lastdir
/newsticker/feeds/
/snippets/
/tramp
/url/cookies
/.python-environments/
/ido.last
/places
/private.el
/games/
/bookmarks
/projectile-bookmarks.eld
/projectile.cache
/zsh/.zsh/antidote_plugins.zsh
/gmailctl/.gmailctl/credentials.json
/gmailctl/.gmailctl/token.json
/emacs/.emacs.d/eln-cache/
