<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>HTMX</key>
			<dict>
				<key>date</key>
				<date>2024-03-26T04:55:51Z</date>
				<key>entry</key>
				<dict>
					<key>docsetGeneratorSettings</key>
					<dict>
						<key>allowFilters</key>
						<string></string>
						<key>basicIndexEnabled</key>
						<true/>
						<key>cssToInject</key>
						<string>footer {
    display: none !important;
}</string>
						<key>denyFilters</key>
						<string></string>
						<key>docsetKeyword</key>
						<string>htmx</string>
						<key>docsetName</key>
						<string>HTMX</string>
						<key>extraInfoPlist</key>
						<string></string>
						<key>isFromLocalFolder</key>
						<false/>
						<key>isFromWebsite</key>
						<true/>
						<key>javaScriptIndexEnabled</key>
						<false/>
						<key>javaScriptUsedToIndex</key>
						<string>const pageTitle = $("title").text();
dashDoc.addEntry({name: pageTitle, type: "Guide"});

$("h1").each(function() {
    const entryName = $(this).text();
    var entryHash = $(this).attr('id');
    if(!entryHash)
    {
        entryHash = entryName.replace(/\W/g, '');
        $(this).attr('id', entryHash);
    }
    dashDoc.addEntry({name: entryName, type: "Section", hash: entryHash});
});</string>
						<key>localFolderPath</key>
						<string></string>
						<key>websiteURL</key>
						<string>https://htmx.org/docs/</string>
					</dict>
					<key>name</key>
					<string>HTMX</string>
					<key>platform</key>
					<string>Other</string>
					<key>uniqueIdentifier</key>
					<string>HTMX</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>fastai/fastai</key>
			<dict>
				<key>date</key>
				<date>2022-06-30T15:28:59Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>fastai/fastai</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>fastai/fastai</string>
				</dict>
			</dict>
			<key>fastai/fastbook</key>
			<dict>
				<key>date</key>
				<date>2022-06-02T05:13:09Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>fastai/fastbook</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>fastai/fastbook</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRustRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>askama</key>
			<dict>
				<key>date</key>
				<date>2024-03-26T04:55:52Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>askama</string>
					<key>platform</key>
					<string>crate</string>
					<key>uniqueIdentifier</key>
					<string>askama</string>
				</dict>
			</dict>
			<key>axum</key>
			<dict>
				<key>date</key>
				<date>2024-03-26T04:56:37Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>axum</string>
					<key>platform</key>
					<string>crate</string>
					<key>uniqueIdentifier</key>
					<string>axum</string>
				</dict>
			</dict>
			<key>bytes</key>
			<dict>
				<key>date</key>
				<date>2024-03-30T04:29:48Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>bytes</string>
					<key>platform</key>
					<string>crate</string>
					<key>uniqueIdentifier</key>
					<string>bytes</string>
				</dict>
			</dict>
			<key>clap</key>
			<dict>
				<key>date</key>
				<date>2024-03-26T04:56:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>clap</string>
					<key>platform</key>
					<string>crate</string>
					<key>uniqueIdentifier</key>
					<string>clap</string>
				</dict>
			</dict>
			<key>futures</key>
			<dict>
				<key>date</key>
				<date>2024-04-06T04:16:20Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>futures</string>
					<key>platform</key>
					<string>crate</string>
					<key>uniqueIdentifier</key>
					<string>futures</string>
				</dict>
			</dict>
			<key>gloo</key>
			<dict>
				<key>date</key>
				<date>2024-03-26T04:56:09Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>gloo</string>
					<key>platform</key>
					<string>crate</string>
					<key>uniqueIdentifier</key>
					<string>gloo</string>
				</dict>
			</dict>
			<key>minijinja</key>
			<dict>
				<key>date</key>
				<date>2024-04-11T15:34:57Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>minijinja</string>
					<key>platform</key>
					<string>crate</string>
					<key>uniqueIdentifier</key>
					<string>minijinja</string>
				</dict>
			</dict>
			<key>serde_json</key>
			<dict>
				<key>date</key>
				<date>2024-04-16T15:59:07Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>serde_json</string>
					<key>platform</key>
					<string>crate</string>
					<key>uniqueIdentifier</key>
					<string>serde_json</string>
				</dict>
			</dict>
			<key>sqlx</key>
			<dict>
				<key>date</key>
				<date>2024-03-26T04:56:31Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>sqlx</string>
					<key>platform</key>
					<string>crate</string>
					<key>uniqueIdentifier</key>
					<string>sqlx</string>
				</dict>
			</dict>
			<key>tokio</key>
			<dict>
				<key>date</key>
				<date>2024-03-29T05:55:01Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>tokio</string>
					<key>platform</key>
					<string>crate</string>
					<key>uniqueIdentifier</key>
					<string>tokio</string>
				</dict>
			</dict>
			<key>toml</key>
			<dict>
				<key>date</key>
				<date>2024-03-26T04:55:59Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>toml</string>
					<key>platform</key>
					<string>crate</string>
					<key>uniqueIdentifier</key>
					<string>toml</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>FreeBSD_Handbook</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:55:45Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>FreeBSD</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/FreeBSD_Handbook#readme</string>
					<key>authorLinkText</key>
					<string>Sebastian Schmidt</string>
					<key>name</key>
					<string>FreeBSD Handbook</string>
					<key>platform</key>
					<string>usercontribFreeBSD_Handbook</string>
					<key>uniqueIdentifier</key>
					<string>FreeBSD_Handbook</string>
				</dict>
			</dict>
			<key>IntelASMx86</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:55:44Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>assembly</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/IntelASMx86#readme</string>
					<key>authorLinkText</key>
					<string>Kira</string>
					<key>name</key>
					<string>Intel x86_64 Assembly</string>
					<key>platform</key>
					<string>usercontribIntelASMx86</string>
					<key>uniqueIdentifier</key>
					<string>IntelASMx86</string>
				</dict>
			</dict>
			<key>Neovim</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:55:44Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Nvim</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Neovim#readme</string>
					<key>authorLinkText</key>
					<string>ianding1</string>
					<key>name</key>
					<string>Neovim</string>
					<key>platform</key>
					<string>usercontribNeovim</string>
					<key>uniqueIdentifier</key>
					<string>Neovim</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWKWebViewTextSizeMultiplier</key>
	<real>1.0999999046325684</real>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/C++/C++.docset</key>
			<string>cpp:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Android.xml</key>
			<dict>
				<key>date</key>
				<date>2023-08-23T20:07:56Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-26T04:57:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Boost.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-22T11:20:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C++.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:57:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:56:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:56:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:56:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Emacs_Lisp.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-26T04:55:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Emmet.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-26T04:55:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Erlang.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:56:43Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:57:41Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:58:40Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Jinja.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-26T04:55:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lua_5.4.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:56:23Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:57:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:57:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:58:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:58:10Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Rust.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:58:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Spring_Framework.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:58:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Tcl.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:58:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/VueJS.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-21T15:58:15Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-26T18:17:32Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>placeholder</key>
			<string>Search All</string>
			<key>searchSnippets</key>
			<false/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"default:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>default:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"snip:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>snip:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/C++/C++.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Boost/Boost.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/FreeBSD Handbook/freebsd.docset</string>
			</array>
			<key>icon</key>
			<string>cpp</string>
			<key>name</key>
			<string>C++</string>
			<key>placeholder</key>
			<string>Search C++</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"c++:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>c++:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Python_3/Python 3.docset</string>
				<string>~/Library/Application Support/Dash/GitHub/fastaifastbook/fastai-fastbook.docset</string>
				<string>~/Library/Application Support/Dash/GitHub/fastaifastai/fastai-fastai.docset</string>
			</array>
			<key>icon</key>
			<string>python</string>
			<key>name</key>
			<string>Python</string>
			<key>placeholder</key>
			<string>Search Python</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"py:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>py:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Apple_API_Reference/Apple_API_Reference.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Vim/Vim.docset</string>
			</array>
			<key>icon</key>
			<string>Mac</string>
			<key>name</key>
			<string>Apple</string>
			<key>placeholder</key>
			<string>Search Apple</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"a:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>a:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/CSS/CSS.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/HTML/HTML.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/NodeJS/NodeJS.docset</string>
			</array>
			<key>icon</key>
			<string>html</string>
			<key>name</key>
			<string>Web</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"web:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>web:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Rust/Rust.docset</string>
				<string>~/Library/Application Support/Dash/Docset Generator/HTMX/HTMX.docset</string>
				<string>~/Library/Application Support/Dash/Rust DocSets/askama/askama.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Jinja/Jinja.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Emmet/Emmet.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Emacs_Lisp/Emacs Lisp.docset</string>
				<string>~/Library/Application Support/Dash/Rust DocSets/toml/toml.docset</string>
				<string>~/Library/Application Support/Dash/Rust DocSets/minijinja/minijinja.docset</string>
				<string>~/Library/Application Support/Dash/Rust DocSets/clap/clap.docset</string>
				<string>~/Library/Application Support/Dash/Rust DocSets/gloo/gloo.docset</string>
				<string>~/Library/Application Support/Dash/Rust DocSets/tokio/tokio.docset</string>
				<string>~/Library/Application Support/Dash/Rust DocSets/sqlx/sqlx.docset</string>
				<string>~/Library/Application Support/Dash/Rust DocSets/serdejson/serde_json.docset</string>
				<string>~/Library/Application Support/Dash/Rust DocSets/axum/axum.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Apple_API_Reference/Apple_API_Reference.docset</string>
				<string>~/Library/Application Support/Dash/Rust DocSets/bytes/bytes.docset</string>
				<string>~/Library/Application Support/Dash/Rust DocSets/futures/futures.docset</string>
			</array>
			<key>icon</key>
			<string>rust</string>
			<key>name</key>
			<string>Rust</string>
			<key>placeholder</key>
			<string>Rust</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"`rust:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>`rust:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Elixir/Elixir.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Erlang/Erlang.docset</string>
			</array>
			<key>icon</key>
			<string>elixir</string>
			<key>name</key>
			<string></string>
			<key>placeholder</key>
			<string>Erlang / Elixir</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"`elixir:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>`elixir:</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifiers</key>
		<integer>4352</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>windowStyle</key>
	<string>HUD</string>
</dict>
</plist>
